.img-small {
    display: inline;
    width: 25%;
    margin: 1%;
    border: 5px solid white;
    border-radius: 12px;
}

.img-small:hover {
    border: 5px solid gainsboro;
}

.img-small-selected {
    display: inline;
    width: 25%;
    margin: 1%;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}