.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  align-self: center;
}

.Sw-logo {
  height: 6vmin;
  align-self: center;
  justify-self: left;
  margin: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 25s linear;
  }
}

.Header-main {
  background-color: #6D6F78;
  display: flex;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  -webkit-box-shadow: 0 6px 10px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 6px 10px rgba(57, 63, 72, 0.3);
  box-shadow: 0 6px 10px rgba(57, 63, 72, 0.3);
}

.Thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90vw;
  margin: 0 10% 0 10%;
}

.photos-in-line-div {
  display: flex;
  /*box-shadow: 0 6px 10px rgba(57, 63, 72, 0.3);*/
  margin-left: 5%;
  justify-content: left;
  align-content: center;
  position: sticky;
  top: 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}